<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>
<h2>Users info</h2>
<table border="1" style="width:300px">
    <thead>
    <tr>
        <th> Name</th>
        <th> Surname</th>
        <th> Age</th>
        <th> Username</th>
        <th> Roles</th>
        <th> Active</th>
        <th> Options</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td><span th:text="${user.getFirstName()}"> </span></td>
        <td><span th:text="${user.getLastName()}"> </span></td>
        <td><span th:text="${user.getAge()}"> </span></td>
        <td><span th:text="${user.getUsername()}"> </span></td>
        <td><span th:each="role: ${user.getRoles()}">
        <span th:text="${role}"></span>
        </span></td>
        <td><span th:text="${user.getIsActive()}"> </span></td>
        <td>
            <form action="update">
                <input type="submit" value="Update">
                <input type="hidden" th:value="${user.id}" name="userId"/>
            </form>
            <form action="delete">
                <input type="submit" value="Delete">
                <input type="hidden" th:value="${user.id}" name="userId"/>
            </form>
        </td>
    </tr>

    </tbody>
</table>

<input type="button" value="New"
       onclick="window.location.href = 'new'">
<br><br>
<form action="/user" method="GET" style="display: inline;">
    <button type="submit">My info</button>
</form>

<form th:action="@{/logout}" method="POST" style="display: inline;">
    <button  type="submit">Log Out</button>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>