<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>
<br><br>
<div sec:authorize="!isAuthenticated()">
    <form action="/login" method="POST">
        <button type="submit">Log In</button>
    </form>
</div>
<br><br>
<div sec:authorize="isAuthenticated()">
    Text visible only to authenticated users.
    <form action="/user" method="GET" style="display: inline;">
        <button type="submit">My info</button>
    </form>
    <span sec:authorize="hasRole('ADMIN')">
        <form action="/admin/" method="GET" style="display: inline;">
            <button type="submit">Admin panel</button>
        </form>
    </span>
    <br>
    <br>
    <form th:action="@{/logout}" method="POST">
        <button type="submit">Log Out</button>
    </form>
</div>
</body>
</html>

