<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>CRUD page</title>
</head>
<body>
<form action="#" th:action="@{/admin/saveUser}" method="get" th:object="${user}">
  <input type="hidden" th:field="*{id}">

  <label>Username:</label>
  <input type="text" th:field="*{username}" /><br/>

  <label>Password:</label>
  <input type="password" name="pass" th:value="${user.password}"  th:field="*{password}"/><br/>

  <label>First name:</label>
  <input type="text" th:field="*{firstName}" /><br/>

  <label>Last name:</label>
  <input type="text" th:field="*{lastName}" /><br/>

  <label>Age:</label>
  <input type="text" th:field="*{age}" /><br/>

  <label>Roles:
    <input type="checkbox" name="roles"
           th:each="role : ${allRoles}"
           th:text="${role.role}"
           th:value="${role.role}"
           th:field="*{roles}"
    />
  </label>
<br>
  <label>Active:</label>
  <select class="form-control" th:field="*{isActive}">
    <option th:value="1" >true</option>
    <option th:value="0" >false</option>
  </select>

  <input type="submit" value="Save">
</form>

<div class="container" >
  <div class="row justify-content-center">
    <div class="col">
    </div>
    <div class="col-4">
      <h2>youuuuuuuuuuuuuu</h2>
    </div>
    <div class="col">
    </div>
    </div>
    </div>


<div class="container">
<div class="row">
<div class="col-md-6 order-md-1">
  <h4 class="mb-3">Billing address</h4>
  <form class="needs-validation" novalidate>

    <div class="row">

      <div class="col-md-6 mb-3">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
        <div class="invalid-feedback">
          Valid first name is required.
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
        <div class="invalid-feedback">
          Valid last name is required.
        </div>
      </div>
    </div>
  </form>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>