<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
<!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->

<!--    <title>Admin panel</title>-->
<!--</head>-->

<!--<style>-->
<!--    .parent {-->
<!--        text-align: center;-->
<!--        padding: 5px;-->

<!--    }-->
<!--</style>-->
<!--<body>-->

<!--<table class="table">-->
<!--    <thead class="table-dark">-->
<!--    <tr>-->
<!--        &lt;!&ndash;    <th></th>&ndash;&gt;-->

<!--        <td scope="col" colspan="2">user@mail.com <span style="font-weight:normal">with role:</span> role</td>-->
<!--        <td scope="col"></td>-->
<!--        <td scope="col" style="width: 5%"><span style="font-weight:normal">logout</span></td>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr>-->
<!--        <td style="width: 15%; ">-->
<!--            <div class="list-group borderless">-->
<!--                <a href="#" class="list-group-item list-group-item-action active" style="border: transparent">-->
<!--                    Admin-->
<!--                </a>-->
<!--                <a href="#" class="list-group-item list-group-item-action" style="border: transparent">User</a>-->
<!--            </div>-->
<!--        </td>-->

<!--        <td colspan="3" style="background-color: whitesmoke; position: absolute; height: 100%">-->
<!--            <div class="container-fluid">-->
<!--                <h1>Admin panel</h1>-->
<!--            </div>-->
<!--            <ul class="nav nav-tabs" id="id1" role="tablist">-->
<!--                <li class="nav-item" role="presentation">-->
<!--                    <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1"-->
<!--                       role="tab" aria-controls="ex1-tabs-1" aria-selected="true">User table</a>-->
<!--                </li>-->
<!--                <li class="nav-item" role="presentation">-->
<!--                    <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2"-->
<!--                       role="tab" aria-controls="ex1-tabs-2" aria-selected="false">New User</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--            <div class="tab-content" id="ex1-content">-->
<!--                <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">-->

<!--                    <div class="container-fluid">-->

<!--                        <h4>All users</h4>-->
<!--                    </div>-->
<!--                    <div class="container-fluid" style="background-color: white">-->
<!--                        <table class="table table-striped">-->
<!--                            <thead>-->
<!--                            <tr>-->
<!--                                <th style="width: 1%" scope="col">ID</th>-->
<!--                                <th style="width: 1%" scope="col">First name</th>-->
<!--                                <th style="width: 1%" scope="col">Last name</th>-->
<!--                                <th style="width: 1%" scope="col">Age</th>-->
<!--                                <th style="width: 1%" scope="col">Email</th>-->
<!--                                <th style="width: 1%" scope="col">Role</th>-->
<!--                                <th style="width: 1%" scope="col">Edit</th>-->
<!--                                <th style="width: 1%" scope="col">Delete</th>-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody>-->
<!--                            <tr>-->
<!--                                <th scope="row">1</th>-->
<!--                                <td>Mark</td>-->
<!--                                <td>Otto</td>-->
<!--                                <td>@mdo</td>-->
<!--                                <td>@mdo</td>-->
<!--                                <td>@mdo</td>-->
<!--                                <td>-->
<!--                                    <button type="button" class="btn btn-info mb1 sm-olive" data-toggle="modal"-->
<!--                                            data-target="#modEdit">Edit-->
<!--                                    </button>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"-->
<!--                                            data-target="#modDelete">Delete-->
<!--                                    </button>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">2</th>-->
<!--                                <td>Jacob</td>-->
<!--                                <td>Thornton</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>@fat</td>-->
<!--                                <td>-->
<!--                                    <button type="button" class="btn btn-info mb1 sm-olive">Edit</button>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <button type="button" class="btn btn-danger btn-sm">Delete</button>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row">3</th>-->
<!--                                <td>Larry</td>-->
<!--                                <td>the Bird</td>-->
<!--                                <td>@twitter</td>-->
<!--                                <td>@twitter</td>-->
<!--                                <td>@twitter</td>-->
<!--                                <td>-->
<!--                                    <button type="button" class="btn btn-info mb1 sm-olive">Edit</button>-->
<!--                                </td>-->
<!--                                <td>-->
<!--                                    <button type="button" class="btn btn-danger btn-sm">Delete</button>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                                <th scope="row"></th>-->
<!--                                <td></td>-->
<!--                                <td></td>-->
<!--                                <td></td>-->
<!--                                <td></td>-->
<!--                                <td></td>-->
<!--                            </tr>-->
<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">-->
<!--                    Tab 2 content-->
<!--                </div>-->
<!--            </div>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->


<!--<div class="modal fade" id="modEdit" tabindex="-1" role="dialog" aria-labelledby="modEditLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="modEditLabel">Edit user</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <form class="col-lg-8 offset-lg-2">-->
<!--                    <div class="parent ">-->
<!--                        <label for="id-name" class="col-form-label">ID:</label>-->
<!--                        <input type="text" class="form-control" id="id-name" size="50">-->
<!--                    </div>-->
<!--                    <div class="parent">-->
<!--                        <label for="first-name" class="col-form-label">First name:</label>-->
<!--                        <input type="text" class="form-control" id="first-name">-->
<!--                    </div>-->
<!--                    <div class="parent">-->
<!--                        <label for="last-name" class="col-form-label">Last name:</label>-->
<!--                        <input type="text" class="form-control" id="last-name">-->
<!--                    </div>-->
<!--                    <div class="parent">-->
<!--                        <label for="age-text" class="col-form-label">Age:</label>-->
<!--                        <input type="number" class="form-control" id="age-text">-->
<!--                    </div>-->


<!--                    <div class="parent">-->
<!--                        <label for="exampleInputEmail1">Email address</label>-->
<!--                        <input #name="ngModel" id="exampleInputEmail1" name="name" type="text"-->
<!--                               class="form-control text-line"-->
<!--                               [ngClass]="{'red-border-class': name.errors}" [(ngModel)]="PersonInfo.name"-->
<!--                               pattern="[a-zA-Z0-9\s]+" required>-->
<!--                    </div>-->

<!--                    <div class="parent">-->
<!--                        <label for="inputPassword">Password</label>-->
<!--                        <input type="password" id="inputPassword" class="form-control" placeholder="Password">-->
<!--                    </div>-->

<!--                    <div class="parent">-->
<!--                        <label>Role</label>-->
<!--                        <select class="custom-select" multiple aria-label="Role" size="2">-->
<!--                            <option value="1">ADMIN</option>-->
<!--                            <option value="2">USER</option>-->
<!--                        </select>-->
<!--                    </div>-->


<!--                </form>-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Edit</button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"-->
<!--        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"-->
<!--        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"-->
<!--        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"-->
<!--        crossorigin="anonymous"></script>-->
<!--</body>-->
<!--</html>-->